# Jetbrains IntelliJ
.idea/
out/

# Asta
*.lock

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Thumbnails
._*

# Microsoft Word, Excel, PowerPoint & Visio
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

# Temp files
*.tmp
